$main-font: 'Roboto', sans-serif;

.bigger{
  font-size: 1.1em;
}


.App{
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: black;
  font-family: $main-font;
  .App-header{
    .header-list{
      display: flex;
      justify-content: space-evenly;
      align-self: center;
      list-style: none;
      .header-element{
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }
  }
}
