$main-font: 'Roboto', sans-serif;
$phone: "(max-width:640px)";
$desktop: "(min-width:640px)";

.bigger{
  font-size: 1.1em;
}



.App{
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: #f0f5f9;
  background-color: black;
  font-family: $main-font;


  .App-header{
    .header-artists{
      a{
        text-decoration: none;
        color: #c9d6de;
      }
    }
    .header-list{
      display: flex;
      justify-content: space-evenly;
      align-self: center;
      list-style: none;
      a{
        text-decoration: none;
        color: #c9d6de;
      }
      .header-element{
        display: flex;
        justify-content: center;
        align-self: center;
        a{
          text-decoration: none;
          color: #c9d6de;
        }
      }
    }
  }
}
