.logo{
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: black;
  img{
    height: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}