@import "header";
@import "logo";
@import "slider";
@import "content";
@import "footer";
@import "newsletter";
@import "popup";
@import "artists";

$main-color: white;
$main-font: 'Roboto', sans-serif;

$phone: "(max-width:640px)";
$desktop: "(min-width:640px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-color ;
}

