@import "header";
@import "logo";
@import "slider";
@import "content";
@import "footer";
@import "newsletter";

$main-color: white;
$main-font: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-color ;
}

